@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    background-image: radial-gradient(circle, rgb(220, 230, 240), rgb(110, 140, 165));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo {
    flex-basis: auto;
    width: 400px;
    max-width: calc(100% - 30px);
    margin: 15px 0;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: rgba(70, 90, 110, 0.7) 5px 5px 10px;
}

.tituloPequeno {
    font-size: 0.75em;
    font-weight: 900;
    color: rgb(120, 120, 120);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.7em;
    margin: 15px 0 0 0;
    transform: skew(0deg, -2deg);
}

.tituloGrande {
    font-size: 8.5em;
    font-weight: 400;
    color: rgb(225, 230, 235);
    text-align: center;
    text-transform: uppercase;
    margin: -20px 0;
    text-shadow: rgb(70, 90, 110) 5px 5px, rgba(0, 0, 0, 0.2) 10px 10px;
    transform: skew(0deg, -2deg);
}

.textoChamada{
    font-size: 1em;
    font-weight: 300;
    letter-spacing: 0.03em;
    text-align: center;
    line-height: 1.5em;
    margin: 5px 0;
}

.campoPadrao {
    font-size: 1em;
    font-weight: 500;
    text-align: center;
    color: rgb(80, 80, 80);
    border: rgb(160, 160, 160) solid 0.5px;
    height: 35px;
    width: 100px;
    margin: 5px 5px;
    padding: 0 10px;
    border-radius: 5px;
    background-color: rgb(245, 245, 245);
}

.campoPadrao:hover {
    outline: none;
    background-color: rgb(230, 230, 230);
}

.campoPadrao:focus {
    outline: none;
    background-color: rgb(230, 230, 230);
}

.campoErro {
    font-size: 1em;
    font-weight: 500;
    text-align: center;
    color: rgb(80, 80, 80);
    border: hsl(0, 20%, 50%) solid 0.5px;
    height: 35px;
    width: 100px;
    margin: 5px 5px;
    padding: 0 10px;
    border-radius: 5px;
    background-color: hsla(0, 20%, 50%, 0.2);
}

.botaoPadrao {
    font-size: 0.9em;
    font-weight: 600;
    color: rgb(255, 255, 255);
    border: rgb(160, 160, 160) solid 0.5px;
    height: 35px;
    width: 100px;
    margin: 5px 5px;
    border-radius: 5px;
    background-color: rgb(110, 140, 165);
}

.botaoPadrao:hover {
    box-shadow: 0 0 8px rgba(160, 160, 160, 0.5);
}

.botaoPadrao:active {
    background-color: rgb(70, 90, 110);
}

.formulario {
    text-align: center;

}

.caixaResultado {
    border: rgb(70, 90, 110) solid 1px;
    border-radius: 15px;
    padding: 40px 15px 0 40px;
    margin: 40px auto 0;
    width: 80%;
    position: relative;
    background-color: rgba(220, 230, 240, 0.2);

}

.imagemPadrao {
    width: 58px;
    height: 100px;
    background-image: url(../imagens/inativo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    transition: 300ms;
    position: absolute;
    left: -25px;
    top: -30px;
}

.textoIMC {
    font-size: 3.5em;
    font-weight: 700;
    color: rgb(70, 90, 110);;
    letter-spacing: -0.05em;
    float: left;
    position: relative;
    top: -35px;
}

.tituloDescricao {
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 1.1em;
    position: relative;
    margin: 0 0 0 5px;
    top: -30px;
}

.textoDescricao {
    font-size: 0.95em;
    font-weight: 300;
    letter-spacing: 0.03em;
    line-height: 1.1em;
    position: relative;
    margin: 0 0 0 5px;
    top: -25px;
}

.textoRodape {
    font-size: 0.7em;
    text-align: center;
    margin: 10px 0 0 0;
}

.clear {
    clear: both;
}